@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

/* NAV - BAR */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
background: whitesmoke;
}

::-webkit-scrollbar-thumb {
background-color: darkred;
border-radius: 100vw;
}


body {
    margin: 0;
}

.nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 3rem;
    height: 80px; 
}

.site-title {
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}
.nav a {
    color: inherit;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}


/* HOME PAGE */

.photos {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-images {
    display: inline;
    justify-content: space-between;
}
  
.hero-images img {
    width: 20%;
    height: 100%;
    object-fit: cover;
}

/* BOXES */ 

.boxes {
    position: relative;
}

.over-boxes {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    column-gap: 60px;
    left: 50%;
}

.about-boxes {
    height: 300px;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 25%;
    background: rgba(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.about-boxes h3 {
    font-size: 20px;
    color: black;
    margin: 0;
}

.about-button {
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px 15px;
    background: rgb(172, 5, 5);
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}

.about-button:hover {
    letter-spacing: 1px;
}

.about-button:hover{
    transform: scale(1.04);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.about-boxes p {
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
}

/* PRICES */
ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    padding: 10px;
}

.pricing {
    display: relative;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.over-pricing {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.about-pricing {
    height: 500px;
    width: 300px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    border-radius: 5%;
    margin: 20px;
    background: rgba(255, 255, 255);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
}

.inside-pricing-card {
    height: 250px;
    width: 150px;

}
img[alt='price'] {
    border-radius: 5%;
    width: 100%;
    height: 30%;
}

.about-pricing h3 {
    color: darkred;
    font-size: 26px;
    margin-top: -20px;
}

.join-button {
    position:relative;
    color: black;
    border: none;
    outline: none;
    font-size: 24px;
    margin-top: 10px;
    padding: 8px 15px;
    background: darkred;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}

.join-button:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}


/* Workout */

.workout {
    position: relative;
    margin-left: 25%;
    
}

.over-workout {
    height: 400px;
    width: 900px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

img[alt='shape'] {
    position: relative;
    top: 0;
    left: 0;
}

img[alt='workoutback'] {
    position: absolute;
    top: 0px;
    left: 50px;
}

.text-block-workout p {
    font-family: 'Gruppo';
    color: grey;
    font-size: 24px;
}

.text-block-workout h1 {
    font-family: 'Kanit', sans-serif;
}


.join-button1 {
    position:relative;
    color: black;
    outline: none;
    font-size: 24px;
    margin-top: 70px;
    margin-left: 200px;
    padding: 20px 50px;
    display: inline-block;
    text-decoration: none;
}


.join-button1::after, .join-button1::before {
    border: 3px solid darkred;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.join-button1:hover::after {
    transform: translate(-5px, -5px)
}

.join-button1:hover:before {
    transform: translate(5px, 5px);
}


.nice-border {
    color: black;
}

.nice-border::after, .nice-border::before {
    border: 3px solid black;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
}

/* pricing title */

.pricing-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.pricing-title-about {
    position: relative;
}

.pricing-title-about h1 {
    position: absolute;
    color: white;
    font-size: 14px;
    top: 25px;
    left: 335px;
    font-family: 'DM Sans', sans-serif;
}

img[alt='pricing-title'] {
    width: 25%;
    height: 25%;
    display: flex;
    margin-left: 300px;
}

.text-block-title p {
    display: flex;
    font-family: 'Gruppo';
    color: grey;
    font-size: 24px;
    display: table;
    width: 800px;
    text-align:center; 
    vertical-align: middle;
    display: table-cell;   
}

.text-block-title h2 {
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
}

/* Footer */

.about-footer {
    padding: 2rem;
    margin-top: 50px;
}

.over-footer {
    background-color: #ffffff;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.footer-links-div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

a {
    color: grey;
    text-decoration: none;
}


.socialmedia1 img {
    width: 10%;
}


.below-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.footer-below-links {
    display: flex;
    flex-direction: row;
}

.footer-below-links p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.footer-links-div1 h4{
    font-size:20px;
    font-family: 'Kanit', sans-serif;
}

.footer-links-div1 p {
    font-size: 15px;
}


/* Login/Register */
.over-login-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}


.about-login-card {
    width: 350px;
    height: 750px;
    padding: 0px 50px;
    background-color: darkred;
}

.login-card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
}

.login-btn {
    position:relative;
    color: black;
    outline: none;
    margin-top: 30px;
    font-size: 16px;
    padding: 10px 100px;
    display: inline-block;
    text-decoration: none;
}

input[type="email"],
input[type="password"] {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 8px 60px;
  border: 1px solid #ccc;
}

.below-login-card a {
    color: white;
    font-size: 12px;
}

.below-login-card {
    justify-content: center;
    align-items: center;
    padding: 10px ;
}

.text-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
  }

  .text-container {
    display: flex;
    align-items: center;
  }


/* Exercises video */
.over-exercises {
    position: relative;
}

.about-exercises {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.exercise-video {
    width: 600px;
    height: 300px;
    background-color: rgba(97, 2, 2, 0.781);
    display: flex;
    margin-top: 10px;
    padding: 70px 20px;
    border-radius: 10%;
}


.exercise-details {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    color: white;
}


.add-exercise-btn {
    position:relative;
    background-color: transparent;
    color: white;
    outline: none;
    margin-top: 70px;
    font-size: 18px;
    padding: 8px 20px;
    display: inline-block;
    text-decoration: none;
    border: none;

}


.add-exercise-btn::after, 
.add-exercise-btn::before {
    border: 3px solid black;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.add-exercise-btn:hover::after {
    transform: translate(5px, 5px);
  }
  
  .add-exercise-btn:hover::before {
    transform: translate(-5px, -5px);
  }
